<% @title = "Property : #{@property.name}" %>
<div class="span12">
   <h4>Property</h4>
   <table class="table">
     <tr><td>Name     <td><%= @property.name %></tr>
     <tr><td>Address  <td><%= @property.address %></tr>
   </table>

   <h4>Images</h4>
   <% if @property.images.any? %>
   <div id="intCarousel" class="carousel slide">
     <div class="carousel-inner">
     <% @property.images.each_with_index do |image,i| %>
     <div class="item<%= " active" if i == 0 %>">
       <%= image_tag image.file.url %>
       <div class="carousel-caption">
         <p><%= image.description %></p>
       </div>
     </div>
     <% end %>
     </div>
     <a class="carousel-control left" href="#intCarousel" data-slide="prev">&lsaquo;</a>
     <a class="carousel-control right" href="#intCarousel" data-slide="next">&rsaquo;</a>
   </div>
   <% else %>
   <p>No images available yet, use the <b>attach image</b> button below to add some</p>
   <% end %>

   <% if current_client.try(:admin?) %>
   <h4>Clients Viewing Property</h4>
   <% if @property.client.nil? %>
   <p>No clients viewing this property </p>
   <% else %>
   <table class="table">
     <tr>
      <td width=24px"><%= gravatar @property.client.email, 24 %></td>
      <td><%= link_to @property.client.name, @property.client %></td>
      <td><%= link_to 'remove', properties_unlink_path(:id => @property.id), :class => "btn btn-danger" %></td>
     </tr>
   </table>
   <% end %>

   <div class="form-actions">
   <%= link_to 'Edit', edit_property_path(@property), :class => 'btn btn-primary' %>
   <%= link_to 'Back', properties_path, :class => 'btn' %>
   <%= link_to 'Attach Image', new_image_path, :class => 'btn' %>
   </div>
   <% end %>
</div>

<script>

  $(function() {
    $('.carousel').carousel();
  });
</script>
