
<div class="span2 profile-photo">
  <%= gravatar @client.email %>
  <p><a target="blank" href="http://www.gravatar.com">change picture</a></p>
</div> 
<div class="span10">
 
   <h4>Client</h4>
   <table class="table">
     <tr><td>Name     <td><%= @client.name %></tr>
     <tr><td>Email    <td><%= @client.email %></tr>
   </table>


   <% if current_client.try(:admin?) %>
   <div class="form-actions">
   <%= link_to 'Edit', edit_client_path(@client), :class => 'btn btn-primary' %>
   <%= link_to 'Back', clients_path, :class => 'btn' %>
   </div>
   <% end %>
</div>
 
