<% @title = 'Crop Image' %>

<div class="span12">
<h4><%= @image.description %></h4>
<p>Crop image before upload. The cropped area will be scaled up or down to 600x400.
<div class="image-decorator">
  <%= image_tag(@image.file.croppie.url) if @image.file? %>
</div>

<%= form_for @image do |f| %>
  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
    <%= f.hidden_field attribute, :id => attribute %>
  <% end %>
  <%= f.submit "Crop" %>
<% end %>
<!-- start cropping -->
<script>
  $(function() {
    $('img').Jcrop({
          trueSize: [<%= @image.file.width %>,<%= @image.file.height %>],
          minSize: [150, 100],
          setSelect: [0, 0, 150, 100],
          aspectRatio: 1.5,
          onSelect: updateForm
    });

    function updateForm(crop) {
      $('#crop_x').val(Math.round(crop.x));
      $('#crop_y').val(Math.round(crop.y));
      $('#crop_w').val(Math.round(crop.w));
      $('#crop_h').val(Math.round(crop.h));
    }
  });
</script>
</div>
